@import "prismjs/themes/prism-okaidia.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body, #main-container {
  height: 100vh;
  width: 100vw;
}
#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
#left-menu {
  width: 20vw;
  min-width: 200px;
  max-width: 400px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
}
#chat {
  width: 80vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.menu-section {
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.menu-section + .menu-section {
  margin-top: 0.5rem;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.gap-3 {
  gap: 1rem;
}
.list-unstyled {
  list-style-type: none;
}
.overflow-auto {
  overflow: auto;
}
.flex-grow-1 {
  flex-grow: 1;
}
.pe-2 {
  padding-right: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.mt-auto {
  margin-top: auto;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.user-input .form-control {
  outline: none;
}
dialog {
  margin: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-height: 500px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;

    h4 {
      margin: 0;
    }
  }


  .close-btn {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .modal-body {
    padding: 16px;
    font-size: 14px;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
  }

  .modal-actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
  }
}
